<h2>Form Submission</h2>

<form method="POST">
    <fieldset>
        <legend>Personal Information</legend>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    
    <label for="client">Client:</label>
    <input type="text" id="client" name="client" required><br><br>
    </fieldset><br>
    
     <fieldset>
        <legend>Select Location</legend>
        <p>
            <label for="region">Select a region:</label><br>
            <select name="regions" id="regions">
                <!-- Populated by locations.js -->
            </select>
        </p>

        <p>
            <label for="provinces">Select a province:</label><br>
            <select name="provinces" id="provinces" class="full-width" disabled>
                <option value=''>Select a province</option>
                <!-- Populated by locations.js -->
            </select>
        </p>

        <p>
            <label for="municipalities">Select a city/municipality:</label><br>
            <select name="municipalities" id="municipalities" class="full-width" disabled>
                <option value=''>Select a city/municipality</option>
                <!-- Populated by locations.js -->
            </select>
        </p>
    </fieldset><br>
    </select>
    
    <fieldset>
        <legend>Additional Information</legend>
    <label for="barangay">Barangay (if applicable):</label>
    <input type="text" id="barangay" name="barangay"><br><br>
    
    <label for="population">Population:</label>
    <input type="number" id="population" name="population" required><br><br>
    
    <label for="waste_generation">Waste Generation:</label>
    <input type="text" id="waste_generation" name="waste_generation" required><br><br>
    
    <label for="date_submitted">Date Submitted:</label>
    <input type="date" id="date_submitted" name="date_submitted" required><br><br>
    
    <label for="year_collected">Year of Data Collected:</label>
    <input type="number" id="year_collected" name="year_collected" required><br><br>
    </fieldset><br>
    
    <fieldset>
        <legend>Waste Composition</legend>
            <div id="waste-composition">
                <script src="/js/waste-composition.js"></script>
            </div>
    </fieldset>
    
    <button type="submit">Submit</button>
</form>

<script src="../js/locations.js"></script>