<h2>Form Submission</h2>

<form id="waste-form">

    <fieldset>
        <legend>Personal Information</legend>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="{{user.firstname}} {{user.lastname}}" readonly><br><br>
    
    <label for="client">Company:</label>
    <input type="text" id="client" name="company_name" placeholder="Enter Company Name" required><br><br>
    </fieldset><br>
    

     <fieldset>
        <legend>Select Location</legend>
        <p>
            <label for="region">Select a region:</label><br>
            <select name="region" id="regions">
            <option value=''>Select a region</option>
                <!-- Populated by locations.js -->
            </select>
        </p>

        <p>
            <label for="provinces">Select a province:</label><br>
            <select name="province" id="provinces" class="full-width" disabled>
                <option value=''>Select a province</option>
                <!-- Populated by locations.js -->
            </select>

        <p>
            <label for="municipalities">Select a city/municipality:</label><br>
            <select name="municipality" id="municipalities" class="full-width" disabled>
                <option value=''>Select a city/municipality</option>
                <!-- Populated by locations.js -->
            </select>
        </fieldset>
        <fieldset>
            <legend>Location Information</legend>
    <label for="barangay">Barangay (if applicable):</label>
    <input type="text" id="barangay" name="barangay"><br><br>
        
    <label for="population">Population based on Census:</label>
    <input type="number" id="population" name="population" required min="0"><br><br>
    
    <label for="waste_generation">Waste Generation per Capita (Kg/cap-day):</label>
    <input type="number" id="per_capita" name="per_capita" min="0" step="0.001" required><br><br>

    <label for="waste_generation">Annual Waste Generation (kg/year):</label>
    <input type="number" id="annual" name="annual" min="0" step="0.001" required><br><br>

    <label for="date_submitted">Date Submitted:</label>
    <input type="date" id="date_submitted" name="date_submitted" readonly><br><br>
    
   <label for="year_collected">Year Collected:</label>
    <input type="number" id="year_collected" name="year_collected" required><br><br>

    <label for="date_start">Data Collection Start Date:</label>
    <input type="date" id="date_start" name="date_start" required><br><br>

    <label for="date_end">Data Collection End Date:</label>
    <input type="date" id="date_end" name="date_end" required><br><br>
    </fieldset><br>

    <fieldset>
        <legend>Waste Composition</legend> 
            <div id="wasteComposition" name="waste_composition">
                <script src="/js/waste-composition.js"></script>
            </div>
    </fieldset>
    <br><button class="btn-approve" type="submit">Submit</button>
</form>

<script src="../js/locations.js"></script>