

    <h1>Waste Management Dashboard</h1>
    {{!-- Heatmap Section --}}
    <div id="filter-box">
        <label for="color-filter">Filter by Value Range:</label>
        <select id="color-filter">
            <option value="all">All</option>
            <option value="red">Low Level</option>
            <option value="yellow">Medium Level</option>
            <option value="green">High Level</option>
        </select>

        <label for="broad-category-filter">Select Waste Category:</label>
        <select id="broad-category-filter">
            <option value="none">-none-</option>
            <option value="generation">Waste Generation</option>
            <option value="composition">Waste Composition</option>
        </select>
        
        <label for="year-filter">Select Year:</label>
        <select id="year-filter">
            <option value="none">Year</option>
        </select>
        
        <label for="metric-filter">Waste Metric:</label>
        <select id="metric-filter"></select>

        <label for="category-filter">Select Category:</label>
        <select id="category-filter"></select>
    </div>

    <div id="map"></div>

    {{!-- Waste Composition Section --}}
    <div class="container">
        <h2>Composition of Disposed Waste</h2>
        <div class="pie-chart">
            <canvas id="summary-pie"></canvas>
        </div>

        <div style="display: flex; justify-content: center;">
            <div class="bar-chart-container">
                <h2 class="bar-label">Paper</h2>
                <div class="bar-chart">
                    <canvas id="bar-paper"></canvas>
                </div>
            </div>

            <div class="bar-chart-container">
                <h2 class="bar-label">Metal</h2>
                <div class="bar-chart">
                    <canvas id="bar-metal"></canvas>
                </div>
            </div>
        </div>
    </div>

<!-- Access to chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart script -->
<script src="../js/chart.js"></script>
<script src="/js/heatmap.js"></script>

