

    <h1>Waste Management Map</h1>
    {{!-- Heatmap Section --}}
    <div id="filter-box">
        <label for="color-filter">Filter by Value Range:</label>
        <select id="color-filter">
            <option value="all">All</option>
            <option value="red">Low Level</option>
            <option value="yellow">Medium Level</option>
            <option value="green">High Level</option>
        </select>

        <label for="broad-category-filter">Select Waste Category:</label>
        <select id="broad-category-filter">
            <option value="none">-none-</option>
            <option value="generation">Waste Generation</option>
            <option value="composition">Waste Composition</option>
        </select>

        <label for="metric-filter">Waste Metric:</label>
        <select id="metric-filter"></select>

        <label for="category-filter">Select Category:</label>
        <select id="category-filter"></select>

            
        <label for="year-filter">Select Year:</label>
        <select id="year-filter">
            <option value="none">Year</option>
        </select>
        
    </div>

    <div id="map"></div>
    <div id="info-box"></div> 

<!-- Chart script -->
<script src="../js/chart.js"></script>
<script src="/js/heatmap.js"></script>

