<form id="loc-search">
    <fieldset>
        <legend>Select Location</legend>
        <p>Filter data entries by location.</p>

        <p>
            <label for="region">Select a region:</label><br>
            <select name="region" id="regions" required>
                <!-- Populated by locations.js -->
            </select>
        </p>

        <p>
            <label for="provinces">Select a province:</label><br>
            <select name="province" id="provinces" class="full-width" disabled>
                <option value=''>Select a province</option>
                <!-- Populated by locations.js -->
            </select>
        </p>

        <p>
            <label for="municipalities">Select a city/municipality:</label><br>
            <select name="municipality" id="municipalities" class="full-width" disabled>
                <option value=''>Select a city/municipality</option>
                <!-- Populated by locations.js -->
            </select>
        </p>

        <p>
            <input type="text" id="location-code" name="locationcode" readonly>
        </p>

        <button class="btn-form" type="submit">
            <i class="fa-solid fa-location-dot"></i> Select Location
        </button>
    </fieldset>
</form>

<!-- Output: Waste data that matches the location query -->
<div id="waste-data">
    <!-- Populated by javascript -->
</div>

<script src="../js/locations-search.js"></script>