<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/dashboard-style.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin-style.css" />
    <link rel="stylesheet" type="text/css" href="/css/chart-style.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/2fcb76e57d.js" crossorigin="anonymous"></script>
    
    <title>{{ title }}</title>
</head>
<body>
    <!-- Header: Contains user menu -->
    <header>
        <img src="/pictures/Greencycle-Logo.png" class="header-logo">
        <div class="header-logo-text">
            GreenCycle <text style="color:#d4ffd0; font-weight: bold;">DASHBOARD</text>
        </div>
        
        <!-- User Menu -->
        <div class="header-user">
            <!-- Display user menu (profile, settings, log out) -->           
            <div class="user-menu">
                <!-- User Menu Button -->
                <button class="user-menu-button">
                    <i class="fa-regular fa-circle-user header-user-icon"></i> {{uppercase user.lastname}}, {{user.firstname}}
                    <span class="user-menu-caret"><i class="fa-solid fa-caret-down"></i></span>
                </button>

                <div class="user-menu-content">
                    <a href="/dashboard/profile">
                        <i class="fa-solid fa-user"></i> Profile
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-gear"></i> Settings
                    </a>
                    <a href="/">
                        <i class="fa-solid fa-house"></i> Return to Main Site
                    </a>
                    <a href="#" id="logout">
                        <i class="fa-solid fa-right-from-bracket"></i> Log Out
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Navigation bar -->
    <nav>
        <div class="nav-btn-container">
            <a href="/dashboard" class="{{#if current_home}}current{{/if}}">
                <i class="fa-solid fa-magnifying-glass nav-icon"></i> Data Search
            </a>

            <a href="/dashboard/all" class="{{#if current_all}}current{{/if}}">
                <i class="fa-solid fa-chart-simple nav-icon"></i> Data Entries
            </a>

            <a href="/dashboard/submit-report" class="{{#if current_report}}current{{/if}}">
                <i class="fa-solid fa-file-medical nav-icon"></i>&nbsp; Submit Report
            </a>

            <a href="/test-chart" class="{{#if current_test}}current{{/if}}">
                <i class="fa-solid fa-compass nav-icon"></i></i> Waste Map
            </a>
            
            <!-- Only show functions if current user is NOT a client -->
            {{#ifNotEquals user.supertype 2}}
                <div class="nav-divider">STAFF FUNCTIONS</div>

                <a href="/dashboard/user-applications" class="{{#if current_userapp}}current{{/if}}">
                    <i class="fa-solid fa-clipboard-list nav-icon"></i> User Applications
                </a>

                <a href="/dashboard/partners" class="{{#if current_partners}}current{{/if}}">
                    <i class="fa-solid fa-handshake nav-icon"></i> Partners
                </a>
            {{/ifNotEquals}}

            <!-- Only show functions if current user is admin -->
            {{#ifEquals user.supertype 0}}
                <div class="nav-divider">ADMIN FUNCTIONS</div>

                <a href="/dashboard/users" class="{{#if current_users}}current{{/if}}">
                    <i class="fa-solid fa-users nav-icon"></i> Users
                </a>

                <a href="/dashboard/roles" class="{{#if current_roles}}current{{/if}}">
                    <i class="fa-solid fa-helmet-safety nav-icon"></i> Roles
                </a>
            {{/ifEquals}}
        </div>
    </nav>
    
    <main>
        {{{ body }}}
    </main>

<script>

document.getElementById('logout').addEventListener('click', function (event) {
    event.preventDefault(); // Prevent default navigation

    fetch('/logout', { method: 'DELETE', credentials: 'include' })
      .then(response => {
        if (response.ok) {
          window.location.href = "/"; // Redirect to login after logout
        }
      })
      .catch(err => console.error("Logout failed", err));
  })

</script>
</body>
</html>
