
{{!-- Main Content --}}
<div class="container">
    <h1>Who Are We?</h1>
    <p>{{companyName}} is a waste management company established in 2014 with the mission of helping out Local Government Units to be compliant with <b>RA 9003</b>, also known as the <b>Ecological Solid Waste Management Act of 2000</b>. We help LGUs achieve 26% waste diversion from the landfill through collection efforts by processing and converting waste into a viable energy source or material.</p>
    <p>{{companyName}} has also been closely working and collaborating with companies since 2018 in their <b>Plastic Neutrality Programs</b> in response to <b>RA 11898</b>, better known as the <b>Extended Producer Responsibility (EPR) Law</b>. Companies that carry various brands are now required to reduce their plastic footprint by recovering a percentage of their plastic packaging waste every year from the environment.</p>
</div>

<div class="container">
    <h1 style="font-size: 30px;">We have a wide network of collection points for post-consumer plastics</h1>
    <p>{{companyName}} helps Local Government Units comply with waste management laws 
        and works with companies to achieve sustainability goals.</p>
    <div class="pics">
        {{#each images}}
            <img src="{{this}}" alt="Company Logo">
        {{/each}}
    </div>
</div>