
    <div class="home-container">
        <div class="banner">
            <div class="banner-contents">
                <img src="/pictures/Greencycle-Logo.png" alt="Greencycle Consultancy">
                <div class="banner-text">
                    <h1>GREENCYCLE CONSULTANCY INC.</h1>
                    We offer solutions for effective waste management and solid compliance to EPR law! Contact us now and let's be partners toward a sustainable environment!
                    <a href="/about"><button>
                        Learn More
                    </button></a>
                </div>
            </div>
        </div>
        
        <section class="intro-section">
            <h2>How can we help you as GreenCycle Consultancy?</h2>
            <img src="/pictures/circular-economy.png" alt="Circular Economy Model">
            <p>Since 2018, GreenCycle has developed a track record of recovery/treatment/recycling Post Consumer Plastic Wastes for local and multinational companies that want to do their share in reducing plastic pollution consistent with the Circular Economy Model.</p>
        
            <p>We have established multiple collection points and cooperation mechanism to all stakeholders involved in the value chain, (1) Junk Shops, (2) Local Government Units, (3) Sanitary Landfills, (4) Retailers, (5) Informal Waste Picker, (6) and (7) Recyclers, (8) Industrial Companies and (9) Plastic Waste Re-Users</p>
        </section>
    </div>