<div class="not-found">
    <div class="container">
        <h1>404: Page not found</h1>
        <p>The page you are looking for cannot be found. The address may have been typed incorrectly or the link may be broken or outdated.</p>

        <a class="btn-link" href="/">
            <button>Return to Home</button>
        </a>
    </div>
</div>