@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #2C3927;
}

h2 {
    color: #2C3927;
    margin-bottom: 20px;
    font-weight: 600;
}

select {
    background-color: #eee;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
}
select:hover {
    background-color: white;
    cursor: pointer;
}
select:disabled {
    background-color: #ddd;
}
select:disabled:hover {
    cursor: not-allowed;
}

/* style to make other dropdowns full width */
.full-width {
    width: 100%;
}

fieldset {
    border: 2px solid #127009;
    border-radius: 5px;
    width: fit-content;
}

legend {
    color: #127009;
    font-weight: bold;
}

/* style to remove text effects from button links */
.btn-link {
    text-decoration: none;
    color: white;
}

/* ------ Header Styles ------ */
header {
    background-color: #2C3927;
    color: #fff;
    display: flex;
    z-index: 10;
    position: sticky;
    padding: 10px 0;
    top: 0;
}

.header-logo-text {
    font-size: large;
    margin-left: 10px;
    margin-top: 6px;
}

.header-logo {
    background-color: white;
    border-radius: 25%;
    height: 25px;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
}

.header-user {
    margin-left: auto;
}

.header-user-icon {
    font-size: 25px;
    margin-right: 5px;
}

/* user menu style */
.user-menu-button {
    font-family: 'Segoe UI';
    font-size: 16px;
    background-color: #2C3927;
    border: none;
    color: white;
}
.user-menu-button:hover {
    cursor: pointer;
}

/* back to main site button */
.btn-back-site {
    padding: 5px 15px;
    font-family: 'Open Sans';
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: #18A50C;
    color: white;
}
.btn-back-site:hover {
    cursor: pointer;
    background-color: #1dc20e;
}

.btn-back-site a {
    text-decoration: none;
    color: white;
}

/* ------ Nav Styles ------ */
nav {
    height: 100%;
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 5; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    background-color: #d4ffd0;
}

.nav-btn-container {
    margin-top: 40px;
}

/* sidenav links */
nav a {
    padding: 10px;
    text-decoration: none;
    color: #2C3927;
    display: block;
}
nav a:hover {
    background-color: #7cc475;
    color: white;
    cursor: pointer;
}

.nav-icon {
    margin-right: 5px;
}

/* ------ Main Container ------ */
main {
    margin: 30px 30px 30px 230px; /* Same as the width of the sidebar */
}

/* ------ Table Styles ------ */
.tb-container {
    border: 2px solid #aaa;
    border-radius: 8px;
    /* width: 100%; */
    margin: 10px 0px;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    font-size: 14px;
    overflow: auto;
    width: 100%;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table td {
    padding: 10px 20px;
    border: none;
    min-width: max-content;
}

.tb-header td {
    font-weight: bold;
    height: 30px;
}
.tb-header td:hover {
    cursor: pointer;
    /* background-color: #eee; */
}

/* User account action container */
.td-button-container {
    padding: 5px 10px !important;
}

.tb-button-action {
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    padding: 10px;
    margin-right: 5px;
}
.tb-button-action:hover {
    cursor: pointer;
}

.edit {
    background-color: lightseagreen;
}
.edit:hover {
    background-color: rgb(60, 219, 211);
}

.delete {
    background-color: red;
}
.delete:hover {
    background-color: rgb(255, 59, 59);
}

/* ------ List of Users Button ------ */
.btn-green {
    padding: 5px 15px;
    font-family: 'Open Sans';
    border: none;
    border-radius: 5px;
    background-color: #18A50C;
    color: white;
}
.btn-green:hover {
    cursor: pointer;
    background-color: #1dc20e;
}

.btn-form {
    padding: 10px 20px;
    font-family: 'Open Sans';
    border: none;
    border-radius: 5px;
    background-color: #127009;
    color: white;
    font-size: 16px;
}
.btn-form:hover {
    cursor: pointer;
    background-color: #209915;
}

.btn-create-user {
    padding: 8px 15px !important;
    margin-right: auto !important;
}