.pdf-page {
  page-break-after: always;
}
.pdf-page:last-child {
  page-break-after: auto;
}

.info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.info-grid .form-section {
  flex: 1 1 280px;
  min-width: 280px;
  overflow-x: auto;
}

.user-profile {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

.user-profile td {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #eee;
}

.user-profile .label {
  font-weight: 600;
  color: #444;
  width: 50%;
}

.title-card h1 {
  font-size: 1.75rem;
}

.btn-submit {
  background-color: #28a745;
  border: none;
  padding: 0.6rem 1.2rem;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.btn-submit:hover {
  background-color: #28a745;
}

.tab-new {
  text-align: center;
  margin-top: 2rem;
}

.tab-new button {
  background-color: #f1f1f1;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0 5px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.tab-new button:hover,
.tab-new button.active {
  background-color: #d0e6ff;
}

.form-section {
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin: 1.5rem auto;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

.form-section h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #2c3e50;
  align-items: center;
}

.form-section h3 i {
  margin-right: 0.6rem;
  color: #127009;;
}

.form-section label {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 0.95rem;
}

.form-section input[type="text"],
.form-section input[type="date"],
.form-section input[type="number"],
.form-section select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.pie-legend {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 12px;
}

.high-priority {
  color: #127009;
  background-color: #c2f3ce;
  padding: 0.75rem;
  border-left: 4px solid #127009;
  border-radius: 6px;
  display: block;
}

.mid-priority {
  color: #cc7a00;
  background-color: #fff4e0;
  padding: 0.75rem;
  border-left: 4px solid #cc7a00;
  border-radius: 6px;
  display: block;
}

.low-priority {
  color: #b30000;
  background-color: #ffe6e6;
  padding: 0.75rem;
  border-left: 4px solid #b30000;
  border-radius: 6px;
  display: block;
}

.filter-columns {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.filter-column {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
}

.filter-column label {
  font-weight: 600;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
}

.filter-section {
  background: #fafafa;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}