
body {
    font-family: 'Segoe UI';
        margin: 0;
    background-color: #D3DABE;
}

.header {
    display: flex;
    padding-bottom: 0;
    position: relative;
    background-color: black;
}

.header-logo {
    background-color: white;
    border-radius: 25%;
    height: 40px;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
}

.logo {
    color: white;
    box-shadow: none;
    display: flex;
}

.logo a {
    color: white;
    font-size: 35px;
}

.taskbar {
    background-color: #18A50C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.taskbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 15px 110px;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
}

.taskbar a:hover {
    
    color: black;
    opacity: 1;
    transition: 0.2s;
}

.container {
    min-height: 60vh; /* Keep it at least as tall as wide */
    padding: 20px;
    left: 175px;
    border: 1px solid #ddd;
    background-color: #68972D;
    color: white;
    position: relative;
    bottom: -30px;
    width: 75%;
    margin-bottom: 80px;
}
.container h1 {
    color:white;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}

.container p {
    text-align: left;
    font-size: 30px;
    padding: 30px;
}

.pics{
    display: flex;
}

.footer {
    background-color: #488538;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.footer-section {
    flex:2;
    margin: 10px;
    min-width: 200px;
    color: #fff;
}
.footer-section a {
    color: #f2f2f2;
    text-decoration: none;
}
.footer-section li {
    list-style-type: none;
}

 /* Social Media Icons */
 .social-buttons img {
    width: 40px;
    height: 40px;
    margin: 5px;
    transition: 0.3s ease-in-out;
}

.social-buttons img:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

/* Phone Icon */
.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}

.icon:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

/* Footer Links */
.footer-link {
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.footer-link:hover {
    color: black;
    text-decoration: underline;
}
.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
